<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>City temperature</title>
</head>
<body>
<div align="center">

 <form action="/temperature/city"><br><br><br><br>
   <h2> <label>Podaj nazwę miasta :</label><br>
    <input type="text" name="city" required="true" typeof="text"><br>
       <input type="submit" value="Wyślij"></h2>
</form>

<h2 th:if="${temperature}">Temperatura: </h2>

<p th:text="${temperature}"/>
</div>
</body>
</html>